layout {
    pane size=1 borderless=true {
        plugin location="file:ZJSTATUS_PATH/bin/zjstatus.wasm" {
          hide_frame_for_single_pane "false"

          format_left  "#[bg=$black]{tabs}"
          format_right "{command_kubectx}::{command_kubens}"
          format_space "#[bg=$black]"

          tab_normal               "#[fg=$black,bg=$cyan] #[fg=$black,bg=$cyan,bold]{name} {fullscreen_indicator}{sync_indicator}{floating_indicator}#[fg=$cyan,bg=$black]"
          tab_active               "#[fg=$black,bg=$green] #[fg=$black,bg=$green,bold]{name} {fullscreen_indicator}{sync_indicator}{floating_indicator}#[fg=$green,bg=$black]"
          tab_fullscreen_indicator "□ "
          tab_sync_indicator       "  "
          tab_floating_indicator   "󰉈 "

          command_kubectx_command  "kubectx -c"
          command_kubectx_format   "#[fg=$fg,bg=$black] {stdout}"
          command_kubectx_interval "30"

          command_kubens_command  "kubens -c"
          command_kubens_format   "#[fg=$fg,bg=$black]{stdout} "
          command_kubens_interval "30"

          color_bg "#161A24"   // editor.line (current line highlight)
          color_fg "#BFBDB6"   // editor.fg (main text)
          color_red "#D95757"  // common.error
          color_green "#AAD94C" // syntax.string
          color_blue "#39BAE6" // syntax.tag
          color_yellow "#E6B450" // common.accent.tint
          color_magenta "#D2A6FF" // syntax.constant
          color_orange "#FFB454" // syntax.func
          color_cyan "#95E6CB" // syntax.regexp
          color_black "#0D1017" // ui.bg (darkest background)
          color_white "#BFBDB6" // editor.fg (main text, same as fg)
        }
    }
    pane
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
